#playerSearch
	p Player search goes here

	form#playerSearchForm(action='/headToHead',method='post')
		select#player1(name='player1')
			each player in players
				option(value = player) #{player}

		select#player2(name='player2')
			each player in players
				option(value = player) #{player}
		input(type='submit' value='Search')