doctype html
html(lang="en")
	head
		title Tennis predictor
	body
		header
			h1 Tennis predictor
		#tennisApp
			include partials/playerSearch

			#playersHeading
				if h2hPlayers
					p players heading goes here
					include partials/playerHeading

			#pageData
				p page data goes here
				if results
					include partials/matchList

			#statsData
				p stats data goes here


