doctype html
html(lang="en")
	head
		title Tennis predictor
	body
		header
			h1 Tennis predictor
		#tennisApp
			include ../playerSearch

			#playersHeading
				p players heading goes here

			#pageData
				p page data goes here

			#statsData
				p stats data goes here


